@import "Components/Header/nav.css";
@import "Components/Posts/PostsLayoutColumn/Posts_layout_column.css";
@import "Components/Posts/PostsLayoutRow/PostsLayoutRow.css";
@import "Components/News/NewsLayoutRow/news_layout_row.css";
@import "Components/SlowServerMessage/slow_server_message.css";
@import "Components/Hero/hero.css";
@import "Components/Hero/hero.css";
@import "Components/Footer/footer.css";
@import "Components/IconLayouts/IconsRow/icons_row.css";
@import "Components/News/NewsLayoutRow/news_layout_row.css";
@import "Components/News/NewsLayoutColumn/news_layout_column.css";
@import "Components/videoLayouts/RowLayout/video_row_layout.css";


@import "Pages/LoginAndRegister/login_and_register.css";
@import "Pages/Single_post/singlePost.css";
@import "Pages/CreatePost/createPost.css";
@import "Pages/Home/home.css";
@import "Pages/EditPost/editPost.css";
@import "Pages/pageNotFound/pageNotFound.css";
@import "Pages/SingleCheatSheet/singleCheatSheet.css";
@import "Pages/SingleGuids/single_guids.css";

@import "utils/ScroolTo/scroll_to_top.css";



/* ----------------------------------- Global */

body {
  scrollbar-gutter: stable;
  overflow-x: hidden;
  min-height: 99.5vh;
  /* border: 2px solid red; */
}

.main_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;
  /* position: absolute; */
  /* border: 2px solid red; */
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: .9rem;
}

.display_none {
  display: none;
  transition: all .3s ease-in-out;
}

.section_blob_top {
  width: 33%;
  position: absolute;
  top: -12vw;
  right: -17vw;
  transform: rotate(365deg);
  z-index: -1;
  /* border: 2px solid red; */
}